<!-- <h2>Function in Angular</h2>
<button (click)="getData('hello')">Click Me</button>

<br><br>
<input type="text" #box (keyup)="getData(box.value)" placeholder="Event keyup"/>
  -->

<h1 class="custom">{{ title }}</h1>
<!-- <input
  type="text"
  #box
  placeholder="Enter name"
  name="name"
/>Click
<button (click)="getValue(box.value)"></button>
<p>Box value is : {{ displayVal }}</p> -->
<!-- 
<button (click)="counter('plus')">Increase</button>
<button (click)="counter('minus')">Decrease</button>
<p>Current value is : {{count}}</p> -->
<!-- 
<input type="text" name="user-name" value={{name}} disabled={{disable}}/>
<input type="text" name="user-name" [value]=name [disabled]=disable/> -->
<!-- 
<h1 *ngIf="show else elseBlock">
  Satyendra
</h1>

<ng-template #elseBlock>
  <h1>Else condition</h1>
</ng-template> -->
<!-- 
<ng-template [ngIf]="color==='red'">
  <h1 style="color: red;">Red Color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
  <h1 style="color: green;">Green Color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
  <h1 style="color: blue;">Blue Color</h1>
</ng-template> -->

<!-- <div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
  <h1 *ngSwitchCase="'green'" style="color: green;">Green Color</h1>
  <h1 *ngSwitchDefault>UnKnown Color</h1>
</div> -->


